

/* Barra de navegacion */

.navbar {
  padding: 0.8rem;
  background-color: none;
  border-bottom: 1px solid #E0C8DE;
  margin-bottom: -1px;
  font-family: 'Questrial', sans-serif;
}
.link-color{
  color:#E0C8DE;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

body{
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(imagenes/background.png);
  background-position: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color:#E0C8DE;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.seccion-clara {
  color: #220F75;
  background-color: #E0C8DE;
  background-color: rgba(224,200,222,0.60);
}

.seccion-oscura {
  color: #E0C8DE;
  background-color: rgba(34,15,117,0.60);
}

.contacto {
  min-height: 500px;
  color: #E0C8DE;
  background-color: rgb(34,15,117);
}

.contacto .seccion-titulo{
  color: #E0C8DE;
}

.seccion-oscura .titulo-osc{
  color: #E0C8DE;
}

.seccion-titulo {
  color: #220F75;
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Roboto Slab', serif;
}

.columna{
  font-size: 25 px;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  font-family: 'Questrial', sans-serif;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: none;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  font-family: 'Questrial', sans-serif;
  color: #E0C8DE;
}

/* Sobre mi */
.sobre-mi .imagen-about{
  width: 60px;
  height: 60px;
  margin: 20px;
}

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}


.experiencia .columna {
  padding: 20px;
  border-inline: 3px solid #E0C8DE;
  border-inline-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #220F75;
  background-color: #E0C8DE;
  padding: 8px 19px;
  border-radius: 20%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Caveat', cursive;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  border-inline: 10px 3px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.overlay i {
  color: #220F75;
  font-size: 60px;
  margin: 10px;
}


/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  min-width: 370px;
  max-width: 800px;
}

.carousel-item {
  min-height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #8f69a7;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}



.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: #8f69a7;
  font-size: .9rem;
  font-family: 'Questrial', sans-serif;
}




/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}


.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #E0C8DE;
  border-radius: 20%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #E0C8DE;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid #b32daa;
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #E0C8DE;
  margin-top: 20px;
  padding: 30px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
